:root {
    --background-blue: #021C41;
}

body {
    background-color: black;
}
.firstTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    letter-spacing: 0.1em;
    font-size: 6em;
    color: white;
    
}
.skill-grid, .projects-grid, .about-me-grid, .trainingCards  {
    background-color: #020810;
}
.resume-grid {
    background-color: #03445E;
}

.contact {
 background-color: #03445E;
}
@keyframes vertical{
    0%{
    opacity: 1;
    transform: rotateX(90deg);
    }
    100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
    }
}

.verticalLine{
    animation-name: vertical;
    animation-duration: 900ms;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
}
.mail {
    font-size: 1em;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 4em;
    color: white;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 3em; 
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 2em; 
    color: white;
}
p,
a {
    font-family: 'Lora', serif;
    color: white;
    font-size: 1.5em;
}
li {
    font-size: 1.2em;
}
.mention {
    font-size: 1em;
}
textarea {
    resize: none;
}
i {
    color: white;
    font-size: 2em;
}
.icon {
    color: #98bec8;
    opacity: 0.7;
}
.buttonCv {
    color: #000000;
}
.btn {
    color: black;
}
.hrTitle {
    margin: 0;
    z-index: 1;
    border: 3px solid #000000;
}
.card-title {
    color: white;
    font-size: 2em;
}
.phone {
    font-size: 1.2em;
    color: white
}




.dot {
    height: 25px;
    width: 25px;
    background-color: #03445E;
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
}
.dot-off {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}
/*Parallax effect*/
.parallax {
    /* The image used */
    background-color: #020810e0;
    min-height: 31.25em;
}
.parallaxResume {
    min-height: 12.5em; 
    background: url("../img/max2.png") fixed center no-repeat;
}
.parallaxAbout {
    min-height: 12.5em; 
    background: url("../img/max3.png") fixed center no-repeat;
}
.parallaxForm {
    min-height: 15em; 
    background: url("../img/max4.png") fixed center no-repeat ;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
    background-attachment: scroll;
    }
}
@media only screen and (max-device-width: 900px) {
    .firstTitle {
        letter-spacing: 0.1em;
    font-size: 5.2em;
    color: white;
    }
    h2 {
    font-size: 3.4em; 
    }
    }
@media only screen and (max-device-width: 760px) {
    .firstTitle {
        letter-spacing: 0.1em;
    font-size: 4em;
    color: white;
    }
    h2 {
    font-size: 3em; 
    }
}
@media only screen and (max-device-width: 500px) {
    .firstTitle {
        letter-spacing: 0.1em;
    font-size: 4em;
    color: white;
    }
    h2 {
    font-size: 2.5em; 
    }
}

